<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Game Coin Manager</title>
    <link rel="stylesheet" href="/static/index/style.css">
</head>
<body>
    <header>
        Game Coin Manager
    </header>
    <div class="container">
        <div class="sidebar">
            <h2>Options</h2>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div>
        <div class="main-content">
            <h1>Welcome to Game Coin Manager</h1>
        </div>
    </div>
    <footer>
        &copy; 2024 Game Coin Management by Muhammad Atif. All rights reserved.
    </footer>
</body>
</html>
